<!DOCTYPE html>
<html lang="de">
<head>

	{% block head %}
		<!-- Basic Page Needs
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<meta charset="utf-8">
		<title>IncipitSearch</title>
		<meta name="description" content="">
		<meta name="author" content="">

		<!-- Mobile Specific Metas
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Scripts
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<!--[if lte IE 8]><!--<script src="/public/js/ie/html5shiv.js"></script><![endif]-->
		<script src="/public/js/jquery.min.js"></script>
		<script src="/public/js/jquery.dropotron.min.js"></script>
		<script src="/public/js/jquery.scrollgress.min.js"></script>
		<script src="/public/js/skel.min.js"></script>
		<script src="/public/js/util.js"></script>
		<!--[if lte IE 8]>
		<script src="/public/js/ie/respond.min.js"></script><![endif]-->
		<script src="/public/js/main.js"></script>

		<!-- FONT
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<link href="/public/css/font-awesome.min.css" rel="stylesheet" type="text/css">

		<!-- CSS
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<link rel="stylesheet" href="/public/css/main.css"/>
		<!--[if lte IE 8]>
		<link rel="stylesheet" href="/public/css/ie8.css"/><![endif]-->

		<!-- Favicon
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<link rel="icon" type="image/png" href="/public/img/favicon.png">

	{% endblock %}

</head>

<body>
<section id="page-wrapper">
	<!--Header
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<header id="header">
		<h1><a href="{{ path_for('index', {'langkey' : 'en'}) }}">IncipitSearch</a></h1>
		<nav id="nav">
			<ul>
				<li><a href="{{ path_for('index', {'langkey' : 'en'}) }}">Search</a></li>
				<li><a href="{{ path_for('about', {'langkey' : 'en'}) }}">About</a></li>
				<li><a href="{{ path_for('repositories', {'langkey' : 'en'}) }}">Repositories</a></li>
				<li><a href="{{ path_for('participation', {'langkey' : 'en'}) }}">Participation</a></li>
				<li><a href="https://github.com/digicademy/incipitSearch" target="_blank"><span class="fa fa-github"
																								aria-hidden="true"></span>Github</a>
				</li>
			</ul>
		</nav>
	</header>

	<!-- Primary Page Layout
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	{% block pageContent %}
		<section id="content" class="box">
			<h4>Basic Page</h4>
			<p>This index.html page is a placeholder with the CSS, font and favicon. It's just waiting for you to
				add some content! If you need some help hit up the <a href="http://www.getskeleton.com">Skeleton
					documentation</a>.</p>
		</section>
	{% endblock %}


	<!--Footer
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<footer id="footer">
		<ul class="menu">
			<li><a href="{{ path_for('participation', {'langkey' : 'en'}) }}">Contact</a></li>
			<li><a href="{{ path_for('impressum', {'langkey' : 'en'}) }}">Impressum</a></li>
			<li><a href="{{ path_for('privacy', {'langkey' : 'en'}) }}">Data privacy</a></li>
		</ul>
		<a target="_blank" href="http://www.adwmainz.de/"><img width="200px" src="/public/img/adwlogo.svg"
															   alt="Logo ADW"/></a>
		<div class="copyright">
			<p>Developed by <a href="http://www.digitale-akademie.de/" target="_blank">Digitale Akademie</a>.</p>
			<p><a href="https://twitter.com/digicademy"><i class="fa fa-twitter fa-2x"></i></a>&nbsp;<a href="https://github.com/digicademy" target="_blank"><i class="fa fa-github fa-2x"></i></a></p>
		</div>
	</footer>

	<!-- End Document
	  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	</div>
</body>
</html>
