{#
    This template inherits from base.twig. See twig documentation: http://twig.sensiolabs.org/doc/templates.html
 #}

{% extends "en/base.twig" %}

{% block title %}Search results - IncipitSuche{% endblock %}
{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="/public/piano/piano_style.css">
    <script src="/public/js/verovio-toolkit.js"></script>
    <script src="/public/piano/piano.js"></script>
{% endblock %}


{% block pageContent %}

{% include 'verovio.html' %}

<div class="wrapper style1">
    <section id="main" class="container">
        <div class="box">
            <h1>Matching works</h1>
            <div>
                <p>
                <strong>{{ numberOfResults }} results for the incipit "{{ searchString }}"</strong><br>
                Alphabetical order</p>
                {% if numberOfResults > 10000 %}
                    <p>Your search returned a large result set.
                        The first 10.000 results will be displayed.
                        Please specify your search by selecting specific catalogues or entering more notes.</p>
                {% elseif numberOfResults == 0 %}
                    <p>
                        <strong>No music pieces are matching your query.
                        Please refine your <a href="/">search</a> by selecting further repositories.<br/>
                        Use the virtual keyboard to make sure, that the Plaine & Easie Code is valid.
                        </strong>
                    </p>
                {% endif %}

            <p><strong><a href="/">Back to search</a></strong></p>
            </div>


{% include 'en/pagination.twig' %}

            <!-- RESULTS -->
            {% for catalogEntry in catalogEntries %}

            <div class="result">
                <h3>{{ catalogEntry.title }}</h3>
                <strong>{{ catalogEntry.subTitle }}</strong><br>
                <strong>{{ catalogEntry.composer }}</strong><br>
                {{ catalogEntry.year }}<br>

                <!-- Display the rendered notes -->
                <span>Plaine & Easie Code: </span>
                <span class="incipitNotes hidden">{{ catalogEntry.incipit.notes }}</span>
                <span class="incipitClef hidden">{{ catalogEntry.incipit.clef }}</span>
                <span class="incipitAccidentals hidden">{{ catalogEntry.incipit.accidentals }}</span>
                <span class="incipitTime hidden">{{ catalogEntry.incipit.time }}</span>
                <span class="incipitNormalized hidden">{{ catalogEntry.incipit.notesNormalizedToSingleOctave }}</span>

                <div class="incipitSVG"></div>
                <!-- end notes displaying -->
                <b><a target="_blank" href="{{ catalogEntry.detailURL }}">Detail page in {{ catalogEntry.catalog }} </a></b>
                <hr>
            </div><!--end result-->
            <br/>



        {% endfor %}

{% include 'en/pagination.twig' %}

        </div>
    </section>
</div><!-- end container -->

{% endblock %} {# end pageContent #}

