{#
    This template inherits from base.twig. See twig documentation: http://twig.sensiolabs.org/doc/templates.html
 #}

{% extends "base.twig" %}

{% block title %}Incipt Crawler Control Panel{% endblock %}



{% block pageContent %}

    <div class="container">

        <h1>Incipit Crawler Control Panel</h1>


        {% if password %}

            <b>All these actions might take several minutes and might not give immediate feedback.<br>Use with care!</b>
            <br>
            <br>
            <a href="{{ path_for('crawler_resetIndex') }}?password={{ password }}">Delete Index</a><br>
            <a href="{{ path_for('crawler_index_RISM') }}?password={{ password }}">Re-Index RISM</a>

        {% else %}

            <b>Please enter your password. (This output is intentionally slow)</b>
            <br><br>
            <form action="{{ path_for('crawler') }}">
                Admin password:<br>
                <input type="password" name="password">
                <input type="submit" value="Submit">
            </form>

        {% endif %}
    </div><!-- end container -->

{% endblock %} {# end pageContent #}


