<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/public/style.css">
	<title>Incipit Crawler</title>
</head>
<body>

<h1>Incipit Crawler</h1>


{% if password %}

    <b>All these actions might take several minutes and might not give immediate feedback.<br>Use with care!</b><br>
    <br>
    <a href="{{ path_for('crawler_resetIndex') }}?password={{ password }}">Delete Index</a><br>
    <a href="{{ path_for('crawler_index_RISM') }}?password={{ password }}">Re-Index RISM</a>

{% else %}

    <b>Please enter your password. (This output is intentionally slow)</b>
    <br><br>
    <form action="{{ path_for('crawler') }}">
        Admin password:<br>
        <input type="password" name="password">
        <input type="submit" value="Submit">
    </form>

{% endif %}

</body>
</html>