{#
    This template inherits from base.twig. See twig documentation: http://twig.sensiolabs.org/doc/templates.html
 #}

{% extends "base.twig" %}

{% block title %}Search Results{% endblock %}
{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="/public/piano/piano_style.css">
    <script src="http://www.verovio.org/javascript/latest/verovio-toolkit.js"></script> <!--Only needed for notes display-->
    <script src="/public/piano/piano.js"></script>
{% endblock %}


{% block pageContent %}


    <script type="text/javascript">

        $(document).ready(function () {
            var vrvToolkit = new verovio.toolkit();

            $('.result').each(function (i, domResult) {
                var result = $(domResult);
                var incipit = result.find('.incipit').text();

                var data = "@clef:" + result.find('.incipitClef').text() + "\n";
                data += "@keysig:" + result.find('.incipitAccidentals').text() + "\n";
                data += "@timesig:" + result.find('.incipitTime').text() + "\n";
                data += "@data:" + result.find('.incipitNotes').text();

                var windowWidth = $(window).width();
                console.log("Window Width: " + windowWidth);
                var scale = 50;
                if (windowWidth < 1000) {
                    scale = 30;
                } else if (windowWidth < 500) {
                    scale = 15;
                }

                options = JSON.stringify({
                    inputFormat: 'pae',
                    pageHeight: 500,
                    pageWidth: windowWidth * (1 / scale),
                    ignoreLayout: 1,
                    border: 0,
                    scale: scale,
                    adjustPageHeight: 1
                });

                var notesSVG = vrvToolkit.renderData(data, options);
                var svgContainerDiv = result.find('.incipitSVG');
                svgContainerDiv.html(notesSVG);

            });//end for each result
        });//end doc ready

    </script>


    <div class="container">

        <p><a href="/">Back to search</a></p>

        <p>XX results found for "{{ searchString }}"</p>




        {% for catalogEntry in catalogEntries %}

            <div class="result">
                <b>{{ catalogEntry.title }}</b>

                <!-- Display the rendered notes -->
                <span class="incipitNotes hidden">{{ catalogEntry.incipit.notes }}</span>
                <span class="incipitClef hidden">{{ catalogEntry.incipit.clef }}</span>
                <span class="incipitAccidentals hidden">{{ catalogEntry.incipit.accidentals }}</span>
                <span class="incipitTime hidden">{{ catalogEntry.incipit.time }}</span>
                <span class="incipitNormalized hidden">{{ catalogEntry.incipit.notesNormalizedToSingleOctave }}</span>

                <div class="incipitSVG"></div>
                <!-- end notes displaying -->

            </div><!--end result-->
            <br/>

        {% endfor %}

    </div><!-- end container -->

{% endblock %} {# end pageContent #}

